<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.boutique">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/title"
        android:gravity="center"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
<!--
        <activity
            android:name=".ui.DashboardActivity"
            android:label="@string/title_activity_tabbed_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
-->
        <activity
            android:name="com.example.boutique.ui.ItemActivity"
            android:label="@string/title_activity_item"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- <activity android:name=".ui.activity_sale" /> -->
        <activity
            android:name="com.example.boutique.ui.PaymentActivity"
            android:label="@string/title_activity_payments"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.example.boutique.ui.DashboardActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.boutique.ui.MainActivity"></activity>
        <activity android:name="com.example.boutique.ui.TransactionActivity"></activity>
        <activity android:name="com.example.boutique.ui.CustomerActivity"></activity>
        <activity android:name="com.example.boutique.ui.ReportActivity"></activity>
        <activity android:name="com.example.boutique.ui.ItemsMainActivity"></activity>
    </application>

</manifest>